* {
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    text-align: center;
    background-color: whitesmoke;
}

.title {
    background-color: burlywood;
    font-weight: 100;
    font-size: 50px
}

.home-list {
    list-style: none;
}

a {
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

/* images */

.description-container {
    background-color: hsl(120, 60%, 70%);
}

.ingredients-container {
    background-color: hsl(360, 60%, 70%);
}

.steps-container {
    background-color: hsl(240, 60%, 70%);
}

h3 {
    font-size: 40px
}

.text {
    font-size: 25px;
}